html {
  scroll-behavior: smooth;
}



/* Sección Hero de bienvenida */
.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Sección de contenido */
.contenido-section {
  background: linear-gradient(to bottom, #1a1a1a, #333); /* Cambia aquí el fondo de la segunda sección */
  padding-top: 80px;
  padding-bottom: 80px;
}

.separator {
  height: 100vh; /* espacio del alto del video */
}
.exportSection {
  position: relative;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 30px 10px;
  z-index: 0;
}
