body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body.inicio {
  background-color: black;
}
body.contacto {
  margin: 0;
  height: 100vh;
  background: url('/contacto.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: black; 
}
body.productos {
  background-color: #b9cc61; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body.nosotros {
   background-color: #b9cc61; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body.certificaciones {
   background-color: #b9cc61; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


/* Sección Hero de bienvenida */
.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Detrás del contenido */
  opacity: 1; /* Opcional: para que no opaque todo */
}



.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Sección de contenido */
.contenido-section {
  background: linear-gradient(to bottom, #1a1a1a, #333); /* Cambia aquí el fondo de la segunda sección */
  padding-top: 80px;
  padding-bottom: 80px;
   min-height: 100vh;
}


